
.vh-90 {
  height: 90vh;
}
.vh-80 {
  height: 80vh;
}
.vh-70 {
  height: 70vh;
}
.vh-60 {
  height: 60vh;
}
.vh-40 {
  height: 40vh;
}
.vh-30 {
  height: 30vh;
}
.vh-20 {
  height: 20vh;
}
.vh-10 {
  height: 10vh;
}
@media screen and (min-width: 30em) {
  .vh-90-ns {
    height: 90vh;
  }
  .vh-80-ns {
    height: 80vh;
  }
  .vh-70-ns {
    height: 70vh;
  }
  .vh-60-ns {
    height: 60vh;
  }
  .vh-40-ns {
    height: 40vh;
  }
  .vh-30-ns {
    height: 30vh;
  }
  .vh-20-ns {
    height: 20vh;
  }
  .vh-10-ns {
    height: 10vh;
  }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .vh-90-m {
    height: 90vh;
  }
  .vh-80-m {
    height: 80vh;
  }
  .vh-70-m {
    height: 70vh;
  }
  .vh-60-m {
    height: 60vh;
  }
  .vh-40-m {
    height: 40vh;
  }
  .vh-30-m {
    height: 30vh;
  }
  .vh-20-m {
    height: 20vh;
  }
  .vh-10-m {
    height: 10vh;
  }
}
@media screen and (min-width: 60em) {
  .vh-90-l {
    height: 90vh;
  }
  .vh-80-l {
    height: 80vh;
  }
  .vh-70-l {
    height: 70vh;
  }
  .vh-60-l {
    height: 60vh;
  }
  .vh-40-l {
    height: 40vh;
  }
  .vh-30-l {
    height: 30vh;
  }
  .vh-20-l {
    height: 20vh;
  }
  .vh-10-l {
    height: 10vh;
  }
}