products: /products
---

div.overflow-auto.center.mw6
  .dt-row
    .dtc.w5.pv1.pl1.pr2.b Name
    .dtc.w4.pa1.b Price
    .dtc.w4.pa1.b Manufacturer
    .dtc.w4.pa1.b
    .dtc.w4.pa1.b    
  sections-admin-product-row(v-for="(product, id) in products" :id="id")
        

//- daca nu isi pastreaza identarea relativa la contextul in care este inclus, nu stie sa evalueze
