
name: /products/<id>/name
price: /products/<id>/price
manufacturer: /products/<id>/manufacturer/name
id: /products<id>/_id
---

   
div.dt-row
  .dtc.w5.pv1.pl1.pr2 {{ name }}
  .dtc.pa1 {{ price }}
  .dtc.pa1 {{ manufacturer }}
  .dtc.pv1.ph2.tc Edit
  .dtc.pv1.ph2.tc(:data-patch=" 'add /products/removeItem \"' +  id + '\"' ") Delete
      //- td(:data-patch=" 'add /products/removeItem \"' +  product._id + '\"' ") Delete
