page: /router/page
items: /cart/items
products: /products
---
div.mw6.center(v-if="page === 'cart'")
  h1.f2.f1-ns.mb3.mb5-ns.tc Cart

  sections-guest-cart-item(v-for="(item, id) in items" :id="id")
    
